<!DOCTYPE html>
<html>
<head>
  <title>ActiveScratcher</title>
  <%= stylesheet_link_tag    "activescratcher/application", media: "all" %>
  <%= javascript_include_tag "activescratcher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
